baufivergleichButton img {
    height: 1em;
}

.deemphazise {
    color: #ccc;
}

.emphazise {
    color: red;
}

table.angebote >tbody> tr > td {
    padding: 10pt;
    border-left: black solid 1pt;
    width: 300px;
}
table.angebote >tbody> tr > th {
    padding: 10pt;
    
    width: 200px;
}