baufivergleichButton img {
    height: 1em;
}

.deemphazise {
    color: #ccc;
}

.emphazise {
    color: red;
}

table.angebote >tbody> tr > td {
    padding: 10pt;
    border-left: black solid 1pt;
    width: 300px;
}
table.angebote >tbody> tr:last-child > td, table.angebote >tbody> tr:last-child > th {
    border-bottom: black solid 1pt;
}

table.angebote >tbody> tr.title > td, table.angebote >tbody> tr.title > th {
    border-top: black solid 1pt;
    border-bottom: black solid 1pt;
    font-style: italic;
}

table.angebote >tbody> tr > th {
    padding: 10pt;
    
    width: 200px;
}